// background-color main
$bcgc: #111010;

// background-color second
$bcgcs: #1D1D1D;

// header text color 
$htc: #949494;

// header text color a.active
$htca: #FFCF7A;

// main text color
$mtc: #ffffff;

// footer text color
$ftc: #6D6D6D;

// button text color
$btc: #121212;



